
# Data Science Tools and Ecosystem


#### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages in data science    
- learn about the various libraries in data science
- Introduces the Jupyter Notebook and Jupyter Lab
- Learn about R and R Studio

## Author: 
* Vinicios Alves


### H3 Some of the popular languages that Data Scientists use are:


1. Python
2. R 
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas 
3. Maplotlib
4. Seaborn
5. Keras
6. SciPy

| Data Science Tools |
| -------------| 
| RStudio | 
| Jupiter Labs |
| Git |

* Below are a few examples of evaluating arithmetic expressions in Python

In [45]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [47]:
#This will convert 200 minutes to hours by diving by 60

m = 200


h = m/60

h

3.3333333333333335